.postComment {
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

.commentContent {
    margin-left: 0.5em;
    overflow-wrap: break-word;
    overflow: hidden;
}

.commentAuthor {
    margin-right: 1em;
}