.searchBox {
    margin: 1em;
}

.searchTag {
    background-color: rgba(0, 0, 0, 0.8);
    margin-bottom: 0.2em;
    margin-right: 0.2em;
    border: 2px #f000c2 solid;
    padding: 0.3em;
    font-size: 0.8em;
    border-radius: 0.3em;
    display: inline-block;
}

.tagRemove {
    cursor: pointer;
    font-weight: bold;
}

.searchTag a::before {
    content: " ×";
}

.radioGroup {
    display: flex;
    flex-direction: column;
}

.radioButton {
    margin: 0.5em 0;
}

.dateView {
    margin-top: 1em;
}

.searchButton {
    margin-top: 0.5em;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.timeRangeButtons {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
}

.searchHint {
    font-size: 0.8em;
}

.sizeFilter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}