.postCreator {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 1em;
}

.input {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    justify-content: stretch;
}

.checkInput {
    margin: 0.5em;
    font-size: 0.9em;
}

.input > label {
    font-size: 0.9em;
    margin-bottom: 0.3em;
}

.input > input[readonly]{
    background-color: #999;
}

.fill {
    flex: 1;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.fill > textarea {
    padding: 0.5em;
    resize: vertical;
    min-height: 15em;
}

.infoLabel {
    font-size: 0.7em;
}

.imgPreview {
    object-fit: contain;
    max-height: 15em;
    color: darkred;
}

.error {
    color: darkred;
    margin-bottom: 0.5em;
}
