
.announcement {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1em;
    flex: 1;
    max-width: 100vw;
    margin-bottom: 0.5em;
}

.sticky {
    border: 1px solid rgba(250, 0, 194, 1);
}

.announcementAuthor {
    margin-right: 0.4em;
}

.announcementDate {
    font-size: 0.8em;
}

.announcementText {
    margin-top: 1em;
}