.capPagination {
    padding: 0;
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.capPage {
    margin: 0.5em;
    display: inline;
}

.capPage.selected {
    font-weight: bold;
    color: #f000c2;
}

.capPageLink {
    padding: 0.5em;
    cursor: pointer;
}

.break {
    cursor: default;
}