.textArea {

}

.textArea * {
    margin-top: 0;
    margin-bottom: 0;
}

.textArea p:not(:first-child) {
    margin-top: 0.4em;
}

.textArea p:not(:last-child) {
    margin-bottom: 0.4em;
}

.textArea img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.textArea a {
    color: #f000c2;
}

.textArea h1, h2, h3, h4, h5, h6 {
    color: #f000c2;
    font-weight: 500;
}

.textArea h1 {
    font-size: 1.6em;
    margin-top: 0.8em;
}

.textArea h2 {
    font-size: 1.4em;
    margin-top: 0.6em
}

.textArea h3 {
    margin-top: 0.5em
}

.textArea h4, h5, h6 {
    margin-top: 0.4em
}

.textArea blockquote {
    margin-top: 0;
    margin-bottom: 0;
}

.textArea > p > img {
    display: flex;
    align-self: center;
    max-height: 50em;
}

br {
    margin: 0
}