.postReader {
    display: flex;
    flex: 1;
    max-width: 100%;
}

.searchArea {
    position: relative;
    left: -17em;
    transition: 0.3s;
    width: 0;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;
}

.searchArea.saActive {
    left: 0;
    width: 16em;
}

.searchWrapper {
    display: none;
    align-items: flex-start;
}

.postList {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 100%;
}

.mainContent {
    flex: 1;
    padding: 1em 0.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.pageNavButton {
    margin: 0 0.2em;
}

.expander {
    font-size: 1.5em;
    color: white;
    padding: 0;
    margin-top: 2em;
    border: 0;
    background: rgba(255, 255, 255, 0.1);
    height: 2em;
    width: 1.5em;
}

@media (min-width: 57em) {
    .mainContent {
        padding: 1em;
    }

    .searchWrapper {
        display: flex;
    }
}