.postCommentWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.postComments {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.commentsHeader {
    margin: 0 0 0.5em 0;
}

.commentDate {
    font-size: 0.7em;
}