
.post {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1em;
    margin-bottom: 1em;
    flex: 1;
    max-width: 78em;
    box-sizing: border-box;
    min-width: 20em;
}

.postContent {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    overflow-wrap: break-word;
    width: 100%;
}

.postHeader {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
}

.postHeader > .right {
    text-align: right;
    display: flex;
    flex-direction: row;
}

.postHeader .size {
    width: 1.5em;
    align-self: center;
    background-color: #f000c2;
    padding: 0.3em 0.3em 0.25em 0.3em;
    font-size: 0.8em;
    border-radius: 0.3em;
    margin-right: 1em;
    text-align: center;
    text-transform: uppercase;
}

.postTitle {
    margin: auto 1em auto 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.postAuthor {
    margin: 0;
}

.postDate {
    margin: 0;
}

.postContent > .image {
    /*overflow: hidden;
    top: 0;*/
}

.postContent > .image > img {
    width: 100%;
}

.postContent > .postText {
    text-align: justify;
}

.postControls {
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
}

.white {
    color: white;
}

.spaced {
    margin-top: 1em;
}

.postText {
    overflow: hidden;
}

.postText > .textArea {
    flex: 1;
    display: flex;
    flex-direction: column;
}

@media (min-width: 57em) {
    .post {
    }

    .postText {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .postText:not(.noImg) {
        max-width: 45em;
    }

    .postText:not(.noImg) > .textArea > * {
        flex: 1;
    }

    .postText.noImg > .textArea {
        margin-left: auto;
        margin-right: auto;
        max-width: 50em;
    }

    .postContent {
        flex-direction: row;
    }

    .postContent > .image {
        width: 30em;
        flex: none;
        max-width: 30em;
    }

    .postContent > .image > img {
        position: -webkit-sticky;
        position: sticky;
        top: 1em;
    }

    .spaced {
        margin-top: 0;
    }

    .spaced:not(.noImg) {
        margin-left: 1em;
    }
}