.tags {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
}

.tag {
    background-color: rgba(255, 255, 255, 0.06);
    margin: 0.3em;
    border: 1px #f000c2 solid;
    padding: 0.3em;
    font-size: 0.9em;
    border-radius: 0.3em;
    cursor: pointer;
}