.registrationPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.input {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
}

.input > label {
    font-size: 0.9em;
}

.registrationBox {
    display: flex;
    flex-direction: column;
    min-width: 50%;
}