.welcomePage {
    margin: 2em;
    display: flex;
    flex-direction: column;
}

.staticWelcome a {
    color: #f000c2;
}

.announcements {
    margin-top: 5em;
}

.hugeButton {
    font-size: 1em;
}