.newComment {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 1em;
}

.newCommentText {
    flex: 1;
    margin: 0 0.5em;
    padding: 0.5em;
    resize: none;
}

.newComment > button {
    align-self: flex-end;
    margin: 0.5em 0.5em 0 0;
}